
<div class="flex">
    <mat-card class="tamanoCard">
        <img *ngIf="detailInt.avatar !== '' || detailInt.avatar == undefined; else imgNotFound"
            src="assets/img/avatarInteresado/{{detailInt.avatar}}.jpg" alt="" width="20%"/>
        <ng-template #imgNotFound>
            <img src="assets/img/avatarInteresado/default.jpg" alt=""/>
        </ng-template>
        <mat-card-header class="noFlex">
            <div class="flex">
                <h2 class="w75 titulo">{{detailInt.nombre}} {{detailInt.apellidos}}</h2>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="w100">{{detailInt.email}}</div>
            <div class="w100">{{detailInt.direccion}} -- {{detailInt.telefono}}</div>
        </mat-card-content>
        <br>
        <div class="w75 titulo">Datos viviendas</div>
        <br>
        <mat-card-content *ngFor="let vivienda of viviendas">
            <br>
            <div class="w100" >{{vivienda.titulo}} {{vivienda.direccion}}</div>
        </mat-card-content>
    </mat-card>
</div>

