<div class="flex">
    <mat-card class="tamanoCard">
        <img *ngIf="propietarioInput.avatar !== '' || propietarioInput.avatar == undefined; else imgNotFound"
            src="assets/img/avatarPropietario/{{propietarioInput.avatar}}.jpg" alt=""/>
        <ng-template #imgNotFound>
            <img src="assets/img/avatarPropietario/default.jpg" alt=""/>
        </ng-template>
        <mat-card-header class="noFlex">
            <div class="flex">
                <h2 class="w75 titulo">{{propietarioInput.nombre}} {{propietarioInput.apellidos}}</h2>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="w100">{{propietarioInput.email}}</div>
            <div class="w100">{{propietarioInput.direccion}} -- {{propietarioInput.telefono}}</div>
        </mat-card-content>

        <mat-card-actions>
            <div class="flex">
                <div class="w70">
                    <button mat-raised-button class="info"
                        [routerLink]="['/propietario/detalle/',propietarioInput.id]"
                        routerLinkActive="router-link-active">Más información</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>